.main {
    display:flex;
    flex-direction:column;
    width:75vw;
    border:solid+2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}

.logreg {
    display:grid;
    width:100%;
    grid-template-columns:1fr+1fr;
    grid-template-rows: 1fr+0.2fr;
    place-items: center;
    column-gap:100px;
}
div form {
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-self: center;
    align-self: center;
}
form label {
    margin-left:auto;
}
.outer {
    display:flex;
    flex-direction:column;
    height:50vh;
    min-width:50%;
    max-width:fit-content;
    margin:auto;
    align-items: center;
    gap:15px;
    margin-top:5vh;
}
nav {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.link-style-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: blue;
    text-decoration: underline;
    display: inline;
    margin-top: -6px;
}
.link-style-button:hover {
    color: darkblue;
}
.post {
    width:75%;
    height:fit-content;
    padding:5px;
    margin:auto;
    border:solid+2px;
    text-align:left;
    margin-top:5px;
    margin-bottom:5px;
}
@media screen and (max-width: 1024px) {
    .main {
        width: 95vw;
    }
    .logreg {
        grid-auto-flow: column;
        grid-template-rows:1fr+1fr;
        grid-template-columns: 1fr;
        place-items: center;
        column-gap:20px;
        row-gap: 100px;
    }
    .post {
        width:95%;
    }
}