.outer {
    display:flex;
    flex-direction:column;
    height:50vh;
    width:85vw;
    margin:auto;
    align-items: center;
    margin-top:5vh;
}
.main {
    display:flex;
    flex-direction:column;
    width:100%;
    border:solid+1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    background-color: rgb(219, 230, 241)
}
.logreg {
    display:grid;
    width:100%;
    grid-template-columns:1fr+1fr;
    grid-template-rows: 1fr+0.2fr;
    place-items: center;
    column-gap:100px;
}
.logreg form {
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-self: center;
    align-self: center;
}
.input-post {
    display:flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 10px;
}
.input-post label {
    margin-right:auto;
}
.logreg form label {
    margin-left:auto;
}
nav {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.link-style-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: blue;
    text-decoration: underline;
    display: inline;
    margin-top: -6px;
}
.link-style-button:hover {
    color: darkblue;
}
.post {
    display:flex;
    flex-direction: column;
    width:100%;
    min-height:100px;
    max-height:fit-content;
    border-top:solid+0.5px;
    border-bottom:solid+0.5px;
    border-bottom-color: transparent;
    background-color: rgb(229, 237, 244);
    text-align:left;
}
.post > .post-content {
    margin-left:0.5em;
    width:95%;
}
.post > .post {
    width:99.6%;
    margin-left:.4%;
    margin-top: 5px;
    height:fit-content;
    border-left:ridge+4px;
    border-color:rgb(229, 237, 244);
    background-color: transparent;
    padding-right:0;
    border-bottom:none;
    text-align:left;
}
.img {
    max-width:20%;
    max-height: 50%;
}
.pfp {
    width:40px;
    display:inline-block;
    aspect-ratio:1;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-radius:50%;
}
.pfpbox {
    display:grid;
    grid-template-rows: 1fr+1.15em;
    width:fit-content;
    text-align:center;
    margin-top:8px;
}
@media screen and (max-width: 1024px) {
    .outer {
        width: 98vw;
    }
    .logreg {
        grid-auto-flow: column;
        grid-template-rows:1fr+1fr;
        grid-template-columns: 1fr;
        place-items: center;
        column-gap:20px;
        row-gap: 100px;
    }
    .post > .post-content {
        width:75%;
    }
}