.main {
    display:flex;
    flex-direction:column;
    width:75vw;
    border:solid+1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    background-color: rgb(219, 230, 241)
}

.logreg {
    display:grid;
    width:100%;
    grid-template-columns:1fr+1fr;
    grid-template-rows: 1fr+0.2fr;
    place-items: center;
    column-gap:100px;
}
div form {
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-self: center;
    align-self: center;
}
form label {
    margin-left:auto;
}
.outer {
    display:flex;
    flex-direction:column;
    height:50vh;
    min-width:50%;
    max-width:fit-content;
    margin:auto;
    align-items: center;
    margin-top:5vh;
}
nav {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.link-style-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: blue;
    text-decoration: underline;
    display: inline;
    margin-top: -6px;
}
.link-style-button:hover {
    color: darkblue;
}
.post {
    width:98%;
    height:fit-content;
    padding-right:2%;
    padding-top: 15px;
    border-top:solid+0.5px;
    border-bottom:solid+0.5px;
    background-color: rgb(229, 237, 244);
    text-align:left;
}
.post > p {
    margin-left:1em;
}
.post > a {
    margin-left:1em;
}
.post > form {
    margin-left:1em;
}
.post > button {
    margin-left:1em;
}
.post .post {
    width:100%;
    height:fit-content;
    border-top:dashed+0.5px;
    background-color: aliceblue;
    padding-right:0;
    border-bottom:none;
    text-align:left;
}
@media screen and (max-width: 1024px) {
    .main {
        width: 95vw;
    }
    .logreg {
        grid-auto-flow: column;
        grid-template-rows:1fr+1fr;
        grid-template-columns: 1fr;
        place-items: center;
        column-gap:20px;
        row-gap: 100px;
    }
    .post {
        width:95%;
    }
}